
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2018. Solution
## <center>Exploratory data analysis of Olympic games with Pandas

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [26]:
import pandas as pd
PATH = 'https://raw.githubusercontent.com/HammadZahidAli/datasavvies-tiny-world/master/EDA%20Practices/athlete_events.csv'
data = pd.read_csv(PATH)

data.sample(n=5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
146587,73574,Khaled Mahmoud,M,26.0,181.0,93.0,Egypt,EGY,1996 Summer,1996,Summer,Atlanta,Handball,Handball Men's Handball,NaN
252626,126506,Fritz Bchen Vikke,M,28.0,NaN,NaN,Denmark,DEN,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's Pole Vault,NaN
211414,106159,Jean-Paul Sauthier,M,30.0,180.0,79.0,France,FRA,1972 Summer,1972,Summer,Munich,Hockey,Hockey Men's Hockey,NaN
216999,108979,Erik Oskar Severin,M,44.0,NaN,NaN,Sweden,SWE,1924 Winter,1924,Winter,Chamonix,Curling,Curling Men's Curling,Silver
95062,48138,Csar Herrera Lpez,M,25.0,188.0,91.0,Cuba,CUB,1980 Summer,1980,Summer,Moskva,Rowing,Rowing Men's Quadruple Sculls,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 **[+]**
- 16 and 12
- 13 and 11

Straightforward way:

In [28]:
# male
data.loc[(data.Year == 1996) & (data['Sex'] == 'M'), 'Age'].min()

14.0

In [29]:
# female
data.loc[(data.Year == 1996) & (data['Sex'] == 'F'), 'Age'].min()

12.0

A "fancier" way:

In [30]:
(data[data.Year == 1996]
.groupby('Sex')
.agg('min')
.Age)

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 **[+]**
- 2.5
- 7.7

In [31]:
q = '(Year == 2000) & (Sex == "M")'
# data.query(q) equals to data[(data.Year == 2000) & (data.Sex == 'M')]
sportsmen_count = len(data.query(q)
                     .drop_duplicates(subset='Name'))
gymnasts_count = len(data.query(q)
                    .query('Sport == "Gymnastics"')
                    .drop_duplicates(subset='Name'))

print('%.1f' % (gymnasts_count / sportsmen_count * 100))

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1 **[+]**

In [32]:
q = '(Year == 2000) & (Sex == "F") & (Sport == "Basketball")'
(data.query(q)
.describe()
.Height)

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh **[+]**
- Weightlifting
- Boxing

In [33]:
max_weight_idx = (data[data.Year == 2002]
                 .Weight
                 .idxmax())

(data[data.Year == 2002]
.loc[max_weight_idx]
.Sport)

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3 **[+]**

Straightforward way:

In [34]:
len(data[data.Name == 'Pawe Abratkiewicz']
   .drop_duplicates(subset='Year')
   .Year)

3

"Fancier" way:

In [35]:
len(data[data.Name == 'Pawe Abratkiewicz']
   .groupby('Year'))

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 **[+]**
- 3

Straightforward way:

In [36]:
q = '(Year == 2000) & (Team == "Australia") & (Medal == "Silver") & (Sport == "Tennis")'
data.query(q).shape[0]

2

"Fancier" way:

In [37]:
q = '(Year == 2000) & (Team == "Australia")'
(data.query(q)
.groupby(['Medal', 'Sport'])
.get_group(('Silver', 'Tennis'))
.shape[0])

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes **[+]**
- No

Straightforward way:

In [38]:
Switzerland_medals = len(data.query('(Year == 2016) & (Team == "Switzerland")')
                        .dropna(subset=['Medal']))

Serbia_medals = len(data.query('(Year == 2016) & (Team == "Serbia")')
                   .dropna(subset=['Medal']))

Switzerland_medals, Serbia_medals

(11, 54)

"Fancier" way:

In [39]:
(data[data.Year == 2016]
.dropna(subset=['Medal']) 
.groupby('Team') 
.size()
[['Switzerland', 'Serbia']])

Team
Switzerland    11
Serbia         54
dtype: int64

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly **[+]**
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

Straightforward way:

In [40]:
participants_2014 = (data[data.Year == 2014]
                    .drop_duplicates(subset='Name'))

print('[15, 25): ', len(participants_2014.query('(Age >= 15) & (Age < 25)')))

print('[25, 35): ', len(participants_2014.query('(Age >= 25) & (Age < 35)')))

print('[35, 45): ', len(participants_2014.query('(Age >= 35) & (Age < 45)')))

print('[45, 55]: ', len(participants_2014.query('(Age >= 45) & (Age <= 55)')))

[15, 25):  1193
[25, 35):  1396
[35, 45):  150
[45, 55]:  5

"Fancier" way:

In [0]:
def age_category(age):
    '''Maps age to four categories'''

    if 15 <= age < 25:
        return '[15, 25)'
    elif 25 <= age < 35:
        return '[25, 35)'
    elif 35 <= age < 45:
        return '[35, 45)'
    return '[45, 55]'


# map() applies age_category() function to every value in data.Age
data['age_category'] = data.Age.map(age_category)
(data[data.Year == 2014]
.drop_duplicates(subset='Name')  
.groupby('age_category')
.size())

age_category
[15, 25)    1193
[25, 35)    1396
[35, 45)     150
[45, 55]       5
dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes **[+]**
- No, No

In [0]:
(pd.crosstab(data.City, data.Season)
.loc[['Lake Placid', 'Sankt Moritz']])

Season        Summer  Winter
City
Lake Placid        0    2098
Sankt Moritz       0    1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34 **[+]**

In [0]:
abs(data[data.Year == 1995].Sport.nunique() - data[data.Year == 2016].Sport.nunique())

34